
.navbar {
    background-color: #333;
    padding: 10px;
}

/* NORMAL NAV LINKS */
.nav-link {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 8px 15px;
    font-size: 18px;
    border-radius: 5px;
}

/* HOVER EFFECT */
.nav-link:hover {
    background-color: #555;
}

/* ACTIVE PAGE HIGHLIGHT */
.active {
    background-color: #ff9800;
    color: black;
}